#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
}

#origin-input,
#destination-input {
    background-color: transparent;
    font-family: Roboto;
    font-weight: 300;
    text-overflow: ellipsis;
    border-bottom: 2px solid #fff;
    color: #ffffff;
    display: block;
    width: 80%;
    margin: 20px auto;
}

#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

#mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

nav {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCC;
}

nav a {
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
    font-family: Roboto;
}

.wrapper {
    display: flex;

}

.wrapper .content-left,
.wrapper .content-right {
    height: 550px;
    width: 50%;
    box-sizing: border-box;
}

.wrapper .content-left {
    background-color: #E4B849;
    padding: 30px;
}

.wrapper .content-left h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 25px;
    font-family: Roboto;
}

.price {
    border: 5px solid white;
    border-radius: 40px;
    min-height: 300px;
    max-width: 300px;
    margin: 0 auto;
}

.price h1 {
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 50px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.estimate {
    color: #ffffff;
    margin-top: 40px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
}

.estimate span {
    color: red
}

.footer {
    padding: 10px 50px 8px;
    background: #191818;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.footer p {
    margin-left: 20px;
}
